@model Idd.Interface.Models.HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">MessageId</th>
                <th scope="col">MessageBody</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var message in Model.Messages)
            {
            <tr>
                <td>@message.MessageId</td>
                <td>@message.MessageBody</td>
            </tr>
            }
        </tbody>
    </table>
</div>
